.App {
  text-align: center;
}
header{
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  padding: 10px 30px;
  background-color: rgb(79, 78, 78);
  height: 45px;
}

a{
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: 250;
  margin: 0 10px;
  font-family:'Times New Roman', Times, serif
}
.active{
  background-color: black;
  padding: 10px;
  border-radius: 50px;
}
.cards1{
  border: 4px solid black;
  border-radius: 5px;
  display: inline-block;
  background: url('https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1714348800&semt=ais');
}

.login-container{
  border: 4px solid black;
  border-radius: 5px;
  width: 400px;
  height: 370px;
  margin-left: 38%;
  margin-top: 2%;
  background: url('https://static.vecteezy.com/system/resources/thumbnails/037/094/439/small/ai-generated-pastel-brush-strokes-background-free-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-container{
  border: 4px solid black;
  border-radius: 5px;
  width: 420px;
  height: 560px;
  margin-left: 38%;
  margin-top: 2%;
  background: url('https://static.vecteezy.com/system/resources/thumbnails/037/094/439/small/ai-generated-pastel-brush-strokes-background-free-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.inpbox{
  border: 3px solid rgb(132, 0, 0);
  border-radius: 3px;
  height: 45px;
  width: 250px;

}
.submit-button{
  background-color: rgb(207, 243, 100);
  border-radius: 40px ;
  border: 3px solid black;
  height: 55px;
  width: 200px;
  
  
}
.email{
  border: 3px solid black;
  border-radius: 3px;
  height: 40px;
  width: 270px;
}
.pass{
  border: 3px solid black;
  border-radius: 3px;
  height: 40px;
  width: 270px;
}
.food{
  color:rgb(207, 243, 100);
}


.inpbox{
  border: 3px solid black;
  border-radius: 3px;
}
.signup1{
  background: url('https://img.freepik.com/premium-vector/fast-food-simple-line-doodle-outline-style-vector-stock-black-white-illustration_399998-98.jpg');
  height: 100vh;
  
 
}
.loginn1{
  background: url('https://img.freepik.com/premium-vector/fast-food-simple-line-doodle-outline-style-vector-stock-black-white-illustration_399998-98.jpg');
  height: 100vh;
}
.home1{
  background: url('https://t3.ftcdn.net/jpg/02/08/52/58/360_F_208525886_ph0EXbxxueCFT5IXPBDgWfFkIUdkfBaL.jpg');

}
.cardcontainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 150px;
  padding: 5px;
  

}
.mb-3{
  border: 2px solid black;
  padding: 5px;
  
}
.homeimg{
  background: url("https://as1.ftcdn.net/v2/jpg/04/80/44/78/1000_F_480447820_3N8H6qG3g7cInOKjBIfeD7954Yl9grDS.jpg");
}
.logout-btn{
  background-color: aliceblue;
  border: 4px solid black;
  border-radius: 20%;
}



